@model EmeraldBotany.Web.ViewModels.Species.SpeciesListViewModel
@using EmeraldBotany.Common
@{
    this.ViewData["Title"] = "Home Page";
}

@{
    var counter = 0;
    @foreach (var spec in Model.Species)
    {
        @if (counter == 0)
        {
            <div>
                <img src="@spec.ImageUrl" class="rounded float-left" alt="" />
            </div>
            counter = 1;
            continue;
        }
        else if (counter == 1)
        {
            <div>
                <img src="@spec.ImageUrl" class="rounded float-lg-none" alt="" />
            </div>
            counter = 2;
            continue;
        }
        else
        {
            <div>
                <img src="@spec.ImageUrl" class="rounded float-right" alt="" />
            </div>
            counter = 0;
            continue;
        }
    }
}